<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <ion-item>
      <ion-label position="floating">Número 1</ion-label>
      <ion-input type="number" [(ngModel)]="numero1"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Número 2</ion-label>
      <ion-input type="number" [(ngModel)]="numero2"></ion-input>
    </ion-item>
    
    <ion-row>
      <!-- <ion-col size="2">
        <ion-button (click)="sumar(numero1, numero2)" size="small">+</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="restar(numero1, numero2)" size="small">-</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="multiplicar(numero1, numero2)" size="small">*</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="dividir(numero1, numero2)" size="small">/</ion-button>
      </ion-col> -->
    </ion-row>
    <ion-label position="floating">RESULTADO:</ion-label>
    <ion-row><ion-col><ion-text color="success">{{ resultado }}</ion-text></ion-col></ion-row>
    <!-- <ion-row><ion-col><ion-text color="danger" *ngIf="!esNumeroValido(resultado)">{{ mensaje }}</ion-text></ion-col></ion-row> -->
  </div>
</ion-content>